*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    border:none;
    outline:none; 
    /* background-color:rgb(16, 17, 17);  */
}
body{
    background: #4b4545;
}
.container{
    height: 100vh;
    width: 100%;
    background:linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    }
@keyframes color{
     0%{
        background-position: 0 50%;
     }
     50%{
        background-position: 100% 50%;
     }
     100%{
        background-position: 0 50%;
     }
}
 h1{
    
  /* margin-top: 2%; */
    padding:50px;
    font-size:50px;
    font-family: 'Gill Sans';
    color:white;
}

.display{
    /* height: 1000px; */
    width:100%;
    display:flex;
    margin-top: 5%;
    /* background-color:rgb(16, 17, 17);  */
    justify-content: center;
    align-items: center;
}
.Calculator{
    height: 450px;
    width: 20%;
    background-color: rgb(26, 25, 24);
    border-radius: 15px; 
    /* margin-left: 10%; */

}
h1{
    line-height: 30px;
    text-align: center;
}
 input {
   height: 60px;
   width: 90%;
margin-top: 4%;
 margin-left: 5%; 
padding:10px;
border-radius: 10px;
font-size:40px;
text-align: right;
box-shadow: inset -6px -6px 13px #fff,
inset 6px 6px 13px rgb(236, 227, 227);/*shadow inside*/
color:rgb(34, 33, 33);
display:flex;
justify-content: center;
align-items: center;
}

button
{
 height: 50px;
 width: 60px;
 font-size:20px;
 font-weight: bold;
 background-color:#ffff ;
  border-radius: 50%;
  color:black;
  box-shadow: 0px 0px 10px rgb(193, 219, 154);
  /* background:transparent; */
 margin-top: 5%;
 margin-left: 6%; 
 margin-bottom: 1%; 
 cursor: pointer;
 
}
 .special  {
    background-color:rgb(221, 129, 107);
    box-shadow:none;
}




